


$theme-colors: (
  "indigo": #e6e8ff,
  "dark": #999
);



.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}
.cursor-pointer {
  cursor: pointer;
}

.rounded-lg {
  border-radius: .5rem;
}

.bg-success{
  background-color: #6574cd !important;
}

.hover\:text-success:hover{
  color: #6574cd !important;
}

.line-through{
  text-decoration: line-through;
}


@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/dist/bootstrap-vue';
